<div>
    <img src="https://www.dropbox.com/scl/fi/gn5ai3y8pjzw4jvszvvxp/valhalla_email_logo.jpg?rlkey=4v020ehqywa31h4yr0h6x0puj&raw=1" height="120" width="90" alt="logo"/>
    <h1>Welcome to Valhalla Gadgets</h1>
    <p style="margin-bottom: 20px;">Hi, {{userName}}. Welcome! Before 
        you login, please click on the link below to verify your email. Happy Shopping!<p>
    <a style="color: #1DB954" href={{verifyLink}}>
        <p>Confirm Email</p>
    </a>
    <p style="margin-bottom: 20px;">Please do not reply to this email as it is unattended.</p>
    <p style="margin-bottom: 40px;">Warm regards.</p>
    <p>Valhalla Gadgets</p>
</div>